<!DOCTYPE html>
<html lang="en">

<head>
    <html xmlns:th="http://www.thymeleaf.org">

    </html>
    <title>Pizze</title>
    <th:block th:insert="~{fragments/resources :: headTags}"></th:block>
</head>

<body>

    <nav th:replace="~{fragments/navbar :: navbar}"></nav>

    <div class="col-8 mx-auto mt-4" th:if="${pizzas.size() > 0}">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Descrizione</th>
                    <th scope="col">Prezzo</th>
                </tr>
            </thead>
            <tbody>
                <!-- window.location 
                 
                leggere l'URL attuale,
                navigare verso un altro URL,
                ricaricare la pagina,
                modificare solo parti dell'URL.
                -->
                <tr th:each="pizza : ${pizzas}" th:object="${pizza}">
                    <th th:onclick="|window.location='@{/pizza/{id}(id=*{id})}'|" scope="row" th:text="*{id}"></th>
                    <td th:onclick="|window.location='@{/pizza/{id}(id=*{id})}'|" th:text="*{name}"></td>
                    <td th:onclick="|window.location='@{/pizza/{id}(id=*{id})}'|" th:text="*{description}"></td>
                    <td th:onclick="|window.location='@{/pizza/{id}(id=*{id})}'|" th:text="*{price}"></td>
                    <td class="d-flex justify-content-around">
                        <button class="btn btn-primary"
                            th:onclick="|window.location='@{/pizza/edit/{id}(id=*{id})}'|">Modifica</button>

                        <!-- modal button -->
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                            th:data-bs-target="'#deleteModal' + *{id}">
                            Elimina
                        </button>

                        <!-- modal -->
                        <div class="modal fade" th:id="'deleteModal' + *{id}" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel"
                                            th:text="|stai eliminando la Pizza: *{name}|"></h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-footer">
                                        <!-- close button -->
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
                                        <!-- delete button -->
                                        <form action="#" th:action="@{/pizza/delete/{id}(id=*{id})}" method="post">
                                            <button type="submit" class="btn btn-danger">Elimina</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>




            </tbody>
        </table>
    </div>

    <div th:unless="${pizzas.size() > 0}"> pizze non disponibili</div>



    <div th:replace="~{fragments/resources :: scripts}"></div>
</body>

</html>