<!DOCTYPE html>
<html lang="en">

<head>
    <html xmlns:th="http://www.thymeleaf.org">

    </html>
    <title>offerte</title>
    <th:block th:insert="~{fragments/resources :: headTags}"></th:block>
</head>

<body>

    <nav th:replace="~{fragments/navbar :: navbar}"></nav>


    <div class="col-5 mx-auto mt-4">

        <h2 class="text-center my-4">crea Offerta per la pizza [[${offer.getPizza().getName()}]]</h2>
        <form id="pizza-form" th:action="${edit} ? @{|/offer/edit/${offer.id}|} : @{/offer/create}" th:object="${offer}" method="post">

            <!-- dati nascosti della pizza -->
            <input type="hidden" th:field="*{pizza}" id="linked-pizza">

            <div class="mb-4 ">
                <label for="title" class="form-label">Nome dell' offerta:</label>
                <input type="text" id="title" class="form-control" th:field="*{title}" autocomplete="off" th:errorClass="is-invalid">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('title')}">    
                    <ul>
                        <li th:each="error : ${#fields.errors('title')}" th:text="${error}"></li>
                    </ul>
                    
                </div>
            </div>

            <div class="mb-4 ">
                <label for="startDate" class="form-label">inizio dell'offerta:</label>
                <input type="date" id="startDate" class="form-control" th:field="*{startDate}" autocomplete="off"
                th:errorClass="is-invalid">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('startDate')}">    
                    <ul>
                        <li th:each="error : ${#fields.errors('startDate')}" th:text="${error}"></li>
                    </ul>
                    
                </div>
            </div>

            <div class="mb-4 ">
                <label for="endDate" class="form-label">fine dell'offerta:</label>
                <input type="date" id="endDate" class="form-control" th:field="*{endDate}" autocomplete="off" th:errorClass="is-invalid">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('endDate')}">    
                    <ul>
                        <li th:each="error : ${#fields.errors('endDate')}" th:text="${error}"></li>
                    </ul>
                    
                </div>
            </div>


            <div class="mb-3 d-flex justify-content-around">
                <input type="submit" class="btn btn-primary" value="Aggiorna">
                <input type="reset" class="btn btn-success" value="Ripristina" autocomplete="off">
            </div>
        </form>
        
    </div>



    <div th:replace="~{fragments/resources :: scripts}"></div>
</body>

</html>